html {
    background-color: darkgray;
}

#page {
    border-radius: 10px;
    height: auto;
    width: 800px;
    padding: 8px;
    margin: 10px auto;
    background-color: lightgray;
}

.title {
    border-radius: 10px;
    border: 8px solid black;
    margin: 8px auto;
    padding: 10px;
    text-align: center;
    background-color: lightgreen;
}